{
 "plugins": ["@namics/stylelint-bem"],   
 "extends": ["stylelint-config-recommended-scss"],
 "rules": {
    "selector-max-id": 0,
    "plugin/stylelint-bem-namics": {
        "patternPrefixes": [],
        "helperPrefixes": []
      },
      "block-no-empty": true,
      "comment-no-empty": true,
      "declaration-block-no-duplicate-custom-properties": true,
      "declaration-block-no-duplicate-properties": true,
      "no-duplicate-at-import-rules": true,
      "no-duplicate-selectors": true,
      "length-zero-no-unit": true,
      "comment-empty-line-before": "always",
      "declaration-empty-line-before": "never"
    }
}