@layer common, other;

@layer common {
// Encabezado
.encabezado {
  container: encabezado / inline-size;
}

.encabezado__logo {
  max-width: 30dvw;
  margin-bottom: 1rem;
}

.nav-link {
  font-size: 2rem !important;
}

@container encabezado (min-width: 768px) {
  .encabezado__logo {
    max-width: 20dvw;
    margin-left: 5rem;
  }

  .encabezado__nav{
    margin-right: 5rem;
  }

  .nav-link {
    font-size: 2.5rem !important;
  }
}

@container encabezado (min-width: 1200px) {
  .encabezado__logo {
    max-width: 10dvw;
  }
}

@container encabezado (min-width: 2200px) {
  .nav-link {
    font-size: 3rem !important;
  }
}

// Footer
.pie {
  margin-top: 2rem;
  container: pie / inline-size;
}

.pie__logo {
  max-width: 20dvw;
  margin-bottom: 1rem;
}

@container pie (min-width: 768px) {
  .pie__logo {
    max-width: 10dvw;
    margin-left: 5rem;
  }
  .pie__nav{
    margin-right: 5rem;
  }
}

@container pie (min-width: 1200px) {
  .pie__logo {
    max-width: 5dvw;
  }

  :is(.encabezado__nav, .pie__nav) li {
  border-right: 1px solid $info;
}

:is(.encabezado__nav, .pie__nav) li:last-of-type {
  border-right: none;
  }
}

@container pie (min-width: 2200px) {
  .nav-link {
    font-size: 3rem !important;
  }
}

// Iconos del Footer

.icono {
  padding: 0.2rem;
}

// Color de fondo

:is(.encabezado, .pie) {
  background: lab(97.964%, -8.581%, 12.143%);
}

.encabezado-index {
  background: none;
  margin-bottom: 2rem;
}

// Vínculos

.vinculo {
  color: $info;
}
.vinculo--crecer {
  transition: all .2s ease-in-out;
}

.vinculo--crecer:hover {
  transform: scale(1.05);
  color: rgba($info, 0.8); 
}

// Componente breadcrumb de Bootstrap

.breadcrumb-item {
  font-size: 1.4rem !important;
}

@media (min-width: 2200px) {
  .breadcrumb-item {
    font-size: 2.2rem !important;
  }
}

}

@layer other {

// Portada con Grid y alternativa

.cuerpo {
  background-color: hwb(81 88% 2%) !important;
}

.cuerpo-portada {
  background-image: url("../images/fondo.png") !important;
  }


.portada {
  container: portada / inline-size;
  background-color: rgba($white, 0.6);
  border-radius: 25px;
  display: flex;
  max-width: 90%;
  padding: 1rem;
  margin-left: auto;
  margin-right: auto;
  flex-direction: column;
  justify-content: center;
  font-family: $font-family-pixel, sans-serif;
  box-shadow: 9px 10px 5px -7px rgba(0,0,0,0.25) !important;
}

.portada__titulo {
  font-size: 5rem;
  color: $primary;
  text-align: center;
  text-shadow: 0 4px 0 rgba($orange, 0.5);
}

.portada__subtitulo {
  font-size: 3rem;
  color: $primary;
  text-decoration: underline overline;
  text-align: center;
  margin: 1rem;
  text-shadow: 0 3px 0 rgba($orange, 0.5);
}

.portada__bloque-texto {
  line-height: 2rem;
  font-size: 2rem;
  color: $info;
  padding-top: 1rem;
}

.portada__img-2 {
  display: none;
}

.portada__boton {
  color: white !important;
  font-size: 2rem !important;
  margin-top: 2rem;
}

.portada__boton:hover {
  color: white !important;
  background-color: $info;
  border: none;
}

.portada__premio {
  background-color: $info;
  border-radius: 5px;
  padding: 1rem;
  color: $white;
  font-size: 1.5rem;
  text-align: center;
  text-shadow: 0 2px 0 rgba($black, 0.5);
}

@container portada (min-width: 768px){
  .portada {
    max-width: 60%;
  }

  :is(.portada__bloque-texto, .portada__premio){
    margin-left: 3rem;
    margin-right: 3rem;
  }

}

@container portada (min-width: 1200px){
  .portada {
    max-width: 50%;
  }
}


@supports (display: grid) {

  .cuerpo {
    background-image: none;
  }

  .portada {
    display: grid;
    width: 90%;
    padding: 3rem;
    margin-left: auto;
    margin-right: auto;
    height: fit-content;
    background-color: $secondary;
    box-shadow: none;
    grid-template-columns: repeat(5, 1fr);
    grid-column-gap: 0;
    grid-row-gap: 0;
    grid-template-rows: auto;
    }


  .portada__premio {
    grid-area: 7 / 1 / 7 / 6;
    height: fit-content;
    font-size: 1.5rem;
  }
  .portada__img-2 { 
    display: block;
    border: 10px solid $info;
    grid-area: 6 / 1 / 6 / 6;
    z-index: -1;
    margin-bottom: 2rem;
  }
  .portada__titulo { 
    grid-area: 1 / 1 / 1 / 6;
    font-size: 4rem; 
    height: fit-content;
    align-self: center;
  }
  .portada__img { 
    grid-area: 3 / 1 / 4 / 6;
    border: 10px solid $primary;
    z-index: -2;
  }
  .portada__bloque-texto { 
    grid-area: 5 / 1 / 5 / 6; 
    height: fit-content;
  }
  .portada__subtitulo { 
    grid-area: 2 / 1 / 2 / 6; 
    height: fit-content;
    text-decoration: none;
    background-color: $white;
    border: 10px solid $info;
    border-right: none;
    border-left: none;
  }
  .portada__boton {
    grid-area: 8 / 1 / 8 / 6;
    height: fit-content;
  }

  @container portada (min-width: 768px){

    .portada__img {
      grid-area: 1 / 1 / 3 / 5;
    }

    .portada__img-2 {
      grid-area: 2 / 3 / 3 / 6;
    }

    .portada__titulo {
      grid-area: 1 / 5 / 1 / 6;
      font-size: 5rem;
      margin-left: 2rem;
      margin-right: 2rem;
    }

    .portada__subtitulo {
      grid-area: 3 / 1 / 2 / 3;
      margin: 60% 0 auto 10px;
      border-left: 10px solid $info;
    }

    .portada__premio {
      grid-area: 2 / 3 / 2 / 5;
      margin-top: 2rem;
      font-size: 1.2rem;
    }

    .portada__bloque-texto {
      grid-area: 3 / 1 / 4 / 5;
      margin-top: 4rem;
    }

    .portada__boton {
      grid-area: 3 / 5 / 3 / 5;
      margin-top: 5rem;
    }

  }

  @container portada (min-width: 1050px){

    .portada__titulo {
      grid-area: 1 / 1 / 1 / 5;
      color: $white;
      font-size: 7rem;
      margin-top: 1rem;
    }

    .portada__subtitulo {
      grid-area: 3 / 1 / 2 / 3;
      align-self: center;
      border-left: 10px solid $info;
    }

    .portada__img-2 {
      box-shadow: -6px -6px 5px 1px rgba(0,0,0,0.25);
    }

    .portada__premio {
      grid-area: 2 / 4 / 2 / 6;
      margin-top: 60%;
    }

    .portada__bloque-texto {
      grid-area: 5 / 1 / 5 / 6;
      padding: 1rem;
      margin-top: 0;
    }

    .portada__boton {
      grid-area: 3 / 2 / 3 / 5;
      margin: 4rem;
      align-self: center;
    }
  }

  @container portada (min-width: 1300px){
    .portada__img {
      grid-area: 1 / 1 / 4 / 4;
    }

    .portada__img-2 {
      grid-area: 4 / 1 / 6 / 5;
      margin-top: -5rem;
      object-fit: cover;
      width: 75%;
    }

    .portada__titulo {
      grid-area: 1 / 1 / 1 / 4;
      color: $primary;
      background-color: $white;
      font-size: 5rem;
      border-top: 10px solid $primary;
      border-bottom: 10px solid $primary;
      margin: 3rem 0 0 0;
    }

    .portada__subtitulo {
      grid-area: 4 / 1 / 4 / 4;
      border-top: 10px solid $info;
      border-bottom: 10px solid $info;
    }

    .portada__premio {
      grid-area: 1 / 4 / 1 / 6;
      margin-top: 0;
    }

    .portada__bloque-texto {
      grid-area: 2 / 4 / 5 / 6;
    }

    .portada__boton {
      grid-area: 4 / 4 / 4 / 6;
      margin-top: 9rem !important;
      font-size: 4rem !important;
      width: fit-content;
      justify-self: center;
    }
  }

  @container portada (min-width: 1550px){
    
    .portada__premio {
      font-size: 3rem;
    }

    .portada__bloque-texto {
      font-size: 3rem;
      line-height: 3rem;
    }

    .portada__img-2 {
      margin-top: -15rem;
    }

    .portada__boton {
      grid-area: 5 / 4 / 5 / 6;
      font-size: 4rem;
      margin-top: 0 !important;
    }
  }

  @container portada (min-width: 2300px){

    .portada__bloque-texto {
      font-size: 4rem;
      line-height: 4rem;
    }

    .portada__boton {
      align-self: start;
    }

    .portada__titulo {
      font-size: 8rem;
    }

    .portada__subtitulo {
      font-size: 6rem;
    }

    .portada__premio {
      font-size: 6rem !important;
    }
  }
}

// Flex de miembros de la liga

.titulo-miembros {
  font-size: 3rem;
}

.conjunto-miembros {
  container: conjunto-miembros / inline-size;
  margin-left: 1rem;
  margin-right: 1rem;
}

.miembro {
  background-color: rgba($secondary, 0.6);
  border-radius: 10px;
  box-shadow: 9px 10px 5px -7px rgba(0,0,0,0.25);
  width: 300px;
  padding: 2rem;
  display: flex;
  flex-flow: column nowrap;
  margin: 3rem 1rem 3rem 1rem;
  color: $info;
}

.miembro__img {
  border-radius: 10px;
}

.miembro__nombre {
  margin-top: 2rem !important;
  font-size: 1.5rem;
  text-align: center;
}

.miembro__desc {
  text-align: center;
  font-size: 1.2rem;
}

@container conjunto-miembros (min-width: 1650px) {
  .miembro {
    width: 400px;
  }

  .miembro__nombre {
    font-size: 2rem;
  }
  
  .miembro__desc {
    font-size: 1.5rem;
  }
}

// Artículo

.articulo {
  width: 80% !important;
}

.articulo__header {
  container: articulo__header / inline-size;
  padding: 0 !important;
}

.articulo__titulo {
  text-align: center;
  color: $info;
  font-size: 3rem;
}

.articulo:has(.row > .col > p) {
  font-size: 1.2rem;
  color: $info;
}

.cita-alfredo {
  background-color: $secondary;
  border: 5px solid $white;
  border-radius: 10px;
}

.premios {
background-color: rgba($white, 0.2);
}

.premios__oro {
  color: #f3ca14 !important;
  font-size: 1.8rem;
}

.premios__plata {
  color: #b1aea3 !important;
  font-size: 1.6rem;
}

.premios__bronce {
  color: rgb(185, 120, 58) !important;
  font-size: 1.4rem;
}

:is(.premios__oro, .premios__plata, .premios__bronce) {
  background: none !important;
}

@media (min-width: 768px) {
.articulo:has(.row > .col > p) {
  font-size: 1.5rem;
  }
}

@container articulo__header (min-width: 600px) {
  .articulo__header {
    position: relative;
    text-align: center;
  }

  .articulo__titulo {
      position: absolute;
      width: inherit;
      padding-top: 2rem;
      padding-bottom: 2rem;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 4rem;
      color: $white;
      background-color: rgba($white, 0.1);
      backdrop-filter: blur(10px);
  }

}

@container articulo__header (min-width: 1024px) {
  .articulo__header__img {
    height: 400px !important;
    width: 100% !important;
    object-fit: cover !important;
  }
}

// Formulario

.formulario-texto {
  container: formulario-texto / inline-size;
  color: $info;
}

.formulario-texto__titulo {
  font-size: 10dvw;
}

.formulario-texto__parrafo {
  font-size: 5dvw;
}


@container formulario-texto (min-width: 600px) {
  .formulario-texto__titulo {
    font-size: 4dvw;
  }
  
  .formulario-texto__parrafo {
    font-size: 2.5dvw;
  }
}

@container formulario-texto (min-width: 1024px) {
  .formulario-texto__titulo {
    font-size: 3dvw;
  }
  
  .formulario-texto__parrafo {
    font-size: 1.6dvw;
  }
}

@media (min-width: 1440px) {
  .formulario-texto {
    max-width: 60dvw !important;
  }

  .formulario-texto__titulo {
    font-size: 2.8dvw;
  }
  
  .formulario-texto__parrafo {
    font-size: 1.4dvw;
  }
}

.formulario {
  container: formulario / inline-size;
  color: $info;
  background-color: hsla(90, 97%, 86%, 0.4) !important;
  box-shadow: 9px 10px 5px -7px rgba(0,0,0,0.25) !important;
}

.formulario__label {
  font-size: 1.6rem;
}

.formulario__input {
  width: 100% !important;
}

.formulario__enviar {
  color: $white !important;
  font-size: 2rem !important;
  background: linear-gradient(132deg, hwb(205 33% 15%) 0%, hwb(128 16% 9%) 100%) !important;
  border: none !important;
}

@container formulario (min-width: 576px){
  .formulario__label {
    font-size: 1.4rem;
    font-weight: 600;
  }
}

@container formulario (min-width: 1000px){
  .formulario__label {
    font-size: 2rem;
  }

  .formulario__input {
    height: 4rem !important;
  }

  .formulario__enviar {
    font-size: 2.5rem !important;
  }
}

@media (min-width: 576px) {
  .formulario {
    max-width: 60dvw !important;
  }
}

}
