<div class="container-fluid pie">
    <footer>
        <div class="d-flex flex-column align-items-center text-info pt-5 pb-5">
            <h4>¿Quieres más información?</h4>
            <h3>Llama al +34 848 48 84 48</h3>
        </div>
        <hr class="border border-primary border-2 mx-6">
        <div class="d-flex flex-column flex-md-row align-items-center justify-content-md-between py-3">
            <div class="pie__logo">
                <img src="./assets/images/tenisLogo.png" class="img-fluid">
            </div>
            <ul class="pie__nav nav flex-column flex-md-row justify-content-md-center align-items-center mx-auto">
                <li class="nav-item">
                    <a class="vinculo vinculo--crecer nav-link" href="./index.html">Página Principal</a>
                </li>
                <li class="nav-item">
                    <a class="vinculo vinculo--crecer nav-link" href="./members.html">Miembros Destacados</a>
                </li>
                <li class="nav-item">
                    <a class="vinculo vinculo--crecer nav-link" href="./article.html">Liga</a>
                </li>
                <li class="nav-item">
                    <a class="vinculo vinculo--crecer nav-link" href="./free.html">Sin Decidir</a>
                </li>
            </ul>
            <ul class="pie__nav nav justify-content-between">
                <a href="#" class="vinculo vinculo--crecer"><i class="icono fa-solid fa-user-group text-info"></i></a>
                <a href="#" class="vinculo vinculo--crecer"><i class="icono fa-solid fa-bell text-info"></i></a>
                <a href="#" class="vinculo vinculo--crecer"><i class="icono fa-solid fa-envelope text-info"></i></a>
            </ul>
        </div>
        <div class="d-flex flex-column align-items-center text-info text-center pb-5">Logo modificado al partir del original de Didik Saputra, en <a target="_blank" href="https://www.vecteezy.com/vector-art/3588885-tennis-logo-sport-badge-american-logo-sport" class="vinculo">vecteezy.com</a></div>
    </footer>
</div>