@use "sass:color";
@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
$font-family-pixel: "VT323";

$primary:       #ed572b !default;
$secondary:     #D3FFCE !default;
$info:          #006AB5 !default;


$h1-font-size:                default;
$h2-font-size:                default;
$h3-font-size:                default;
$h4-font-size:                default;
$h5-font-size:                default;
$h6-font-size:                default;

$nav-link-font-size:                default;
$nav-link-font-weight:              500 !default;
$nav-link-color:                    $info;
$nav-link-hover-color:              rgba($info, 0.8);
